body {
    height: 100%;
    line-height: 1;
    font-family: "OpenSans";
    color: #292929;
}

.cardDeck {
    display: flex;
    justify-content: space-around;
}

card {
    max-width: 381px;
    height: 480px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #9079C0;
}

.insideCard {

}